h1{
    margin: 10px;
}

.partofSpeech{
    color: white;
    /* background-color: black; */
    /* text-align: center; */
    background-color: #E8AA42;
}

.cardContainer{
    padding-bottom: 100px;
}
.linkContainer{
    text-align: center;
    margin-top: 3rem;
}
a{
    color: white;
    border: 3px solid #E8AA42;
    padding: 5px;
    background-color: #E8AA42;
    text-decoration: none;
}