.mainContainer {
  background-color: #231955;
  color: #FFE5B4;
  background-image: url(/public/diamond-upholstery.png);
}

p {
  font-weight: bold;
}

input {
  text-align: center;
  background: transparent;
  color: white;
  border: none;
  font-weight: bolder;
  border-bottom: 2px solid #E8AA42;
  font-size: larger;
  margin: 30px auto;
}

input:focus {
  outline: none;
}

.searchBox {
  padding-top: 50px;
  text-align: center;
}

button {
  font-size: larger;
  background-color: #E8AA42;
  color: white;
  font-weight: bold;
  border-color: #E8AA42;
  cursor: pointer;
  margin-left: 5px;

}

button:hover {
  background-color: transparent;
  color: white;
}

.welscreen {
  margin-top: 70px;
  height: 100vh;
}

.welscreen h1 {
  margin-bottom: 40px;
}

.searchgif {
  display: block;
  border-radius: 50%;
  margin-bottom: 40px;
}